$at-indigo: #1E1F44;
$at-blue: #0088F7;
$at-teal: #1EC6CE;
$at-green: #1ECE8E;
$at-yellow: #FEBE12;
$at-orange: #FF6550;
$at-red: #FF5050;
$at-slate: #3E3F3F;

@import url(https://fonts.googleapis.com/css?family=Lato:400,900,900italic,700,700italic,400italic,300italic,300,100italic,100);

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 42px;

}

h2 {
	font-size: 34px;
}

h3 {
	font-size: 26px;
}

.word-break {
	word-wrap: break-word;
}


.main-navigation {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index: 103;
	background: white;
	padding:1em 1em;
	transition:300ms padding;

	.main-navigation-wrapper {
		max-width: 960px;
		margin:0 auto;
	}

	.nav-title {
		float:left;
	}


	ul {
		float:right;
		list-style: none;
		padding:0;
		margin:0;
		text-indent: none;

		li{
			display:inline-block;
			text-transform: uppercase;
			letter-spacing: 1%;
			font-size: 12px;
			text-indent: none;

			a {
				text-decoration: none;
				padding:.6em;
				color: $at-slate;
			}
			a.nav-cta-button {
			border:1px solid lighten($at-slate, 60%);
			border-radius: 3px;
			}
		}

		
	}
}

.main-navigation:hover {
	
	padding:1.3em 1em;
}

.atsg-fullwidth-section {
	overflow: hidden;

	.textwrapper {
		max-width: 960px;
		margin:12em auto;

	}

	.intro-wrapper {
		max-width: 960px;
		margin:50vh auto 0 auto;
		transform:translateY(-50%);

		h1 {
			margin:0;
			width:60%;
		}
	}

	
}

.tall-section {
		height:100vh;
		padding:0 1em;
		background-image:url(../img/illustration-at.svg);
		background-size:50%;
		background-repeat: no-repeat;
		background-position: center right;
	}

.dark-blue-section {
	background-color: $at-blue;
	color:white;
	padding:0 1em;
}

.light-blue-section {
	background: lighten($at-blue, 45%);
	color:$at-blue;
	padding:0 1em;
}

.atsg-colorswatch-array {

	position:relative;
	overflow: hidden;

	.copymessage {

		background:white;
		opacity:0;
		position:fixed;
		top:20px;
		right:0px;
		font-size: 13px;
		transition:300ms;
		padding:1em 1.3em;
		z-index: 103;
		border-radius: 3px;
		}

	.copymessage.copiedmessage {
		opacity:1;
		right:20px;
		
		}

	.atsg-colorswatch-download {
		position:absolute;
		left:50%;
		top:50%;
		transform:translateX(-50%) translateY(-50%);
		display: flex;
		
		

		&-text, &-dropdown select {
			padding:1em;
			background:white;
		}

		&-text {
			border-radius: 3px 0 0 3px;
		}

		&-dropdown {
			border-radius: 0 3px 3px 0;
			overflow: hidden;
			border-left:2px solid lighten($at-slate, 60%);
			background:white;
		}

		&-dropdown select{
				-moz-appearance: none;
				appearance: none;
				-webkit-appearance: none;
				width:auto;
				border:none;
				border-radius: 0;
				cursor: pointer;
				padding-right:40px;
				transition:300ms;
		}

		&-dropdown select:hover{
				background: lighten($at-slate, 70%);
				transition:0;
		}

		&-dropdown label{
				
				color: lighten($at-slate, 50%);
				font-size: 10px;
				position:absolute;
				right:20px;
				top:50%;
				transform: translateY(-50%);

		}

		
	}

	
	
}


.atsg-colorswatch-swatch {
	width:25vw;
	height:25vw;
	float:left;
	position:relative;
	font-size: 14px;

	.atsg-colorswatch-colorlabel{
		opacity: 0;
		transition: 300ms;
		color:#fff;
		padding:1em;
	}

	.droplet-icon {
				position:absolute;
				top:62.5%;
				margin-top:-20%;
				right:0%;
				opacity:0;
				transition:300ms;
				z-index: 101;
				font-size: 24px;
				cursor: pointer;
				transform:rotate(-45deg);
				width:1em;
				height:1em;
				border-radius: 100px 0px 100px 100px;
				border-style: solid;
				border-width: 1px;
				border-color: white;
	}

	.droplet-icon:before {
				content:"i";
				position:absolute;
				color:#fff;
				font-size: 13px;
				left:50%;
				top:50%;
				transform:translateX(-50%) translateY(-50%) rotate(45deg);
	}

	.droplet-icon.hide {
				opacity:1;
				right:5%;
				transform:rotate(90deg);
				border-radius: 100px 100px 100px 100px;
				border-style: solid;
				border-width: 1px;
	}

	.droplet-icon.hide:before {
				content:"\00d7";
				transform:translateX(-50%) translateY(-50%) rotate(0deg);
				position:absolute;
				color:#000;
	}


	.atsg-colorswatch-front {
		transition:300ms;

		&.hide {
			opacity:0;
		}

		position:relative;
		width:100%;
		height:100%;

		&-mainswatch, &-tint75, &-tint50, &-tint25 {
			position:relative;
			transition:300ms;
			cursor: pointer;

			.atsg-colorswatch-colorlabel{
				position:absolute;
				bottom:0;
				left:0;
				width:100%;
			}
		}

		&-mainswatch:after, &-tint75:after, &-tint50:after, &-tint25:after {
			background-image: url("../img/clipboard-01.svg");
			content:"";
			width:.8em;
			height:.8em;
			background-size:contain;
			background-repeat: no-repeat;
			background-position: center center;
			font-size: 48px;
			opacity:0;
			margin-top: 5px;
			position:absolute;
			top:50%;
			left:50%;
			transform: translateX(-50%) translateY(-30%);
			transition:300ms;
		}



		&-mainswatch.copiedmessage:after, &-tint75.copiedmessage:after, &-tint50.copiedmessage:after, &-tint25.copiedmessage:after {
			opacity:1;
			transform: translateX(-50%) translateY(-50%);

		}

		&-tint75, &-tint50, &-tint25 {
			.atsg-colorswatch-colorlabel{
				top:0;
			}
		}

		&-mainswatch {
			width:100%;
			height:100%;
			transition:300ms;
		}

		&-tintwrapper {
			position:absolute;
			width:100%;
			height:0%;
			bottom:0;
			transition: 300ms;
		}

		&-tint75, &-tint50, &-tint25 {
			width:33.33%;
			float:left;
			height:100%;
			overflow:hidden;
			transform: translateY(100%);
			transition: 300ms;
			
		}

		&-tint75 {
			transition-delay: 0ms;
		}

		&-tint50 {
			transition-delay: 100ms;
		}

		&-tint25 {
			transition-delay: 200ms;
		}

		&-mainswatch:hover, &-tint75:hover, &-tint50:hover, &-tint25:hover  {

			.atsg-colorswatch-colorlabel{
				opacity:1;
			}
		}

		
		}

		.atsg-colorswatch-back {
				background:lighten($at-blue, 35%);
				height:100%;
				width:100%;
				position:absolute;
				top:0;
				overflow:hidden;
				padding:0 1em;

				ul {
					position:absolute;
					top:50%;
					width:100%;
					transform:translateY(-50%);
					margin:0;
					padding:0;
					list-style: none;

					li {
						

						
					}

					.mediumlabel {
						text-transform:uppercase;
						font-size: 10px;
						margin-top: 1em;
						display: block
					}
				}
		}

		&.at-indigo {
			background:$at-indigo;
			.atsg-colorswatch-front {
				background:$at-indigo;
				&-mainswatch {
					background:$at-indigo;
				}
				&-tint25 {
					background:lighten($at-indigo, 15%);
				}
				&-tint50 {
					background:lighten($at-indigo, 25%);
				}
				&-tint75 {
					background:lighten($at-indigo, 35%);
				}
			}
			.atsg-colorswatch-back {
				background:lighten($at-indigo, 65%);
				ul {
					.mediumlabel {
							color:$at-indigo;
						}
				}
			}

			.droplet-icon.hide:before {
				color:$at-indigo;
			}

			.droplet-icon.hide {
				border-color: $at-indigo;
			}

		}

		
		&.at-blue {
			background:$at-blue;
			.atsg-colorswatch-front {
				background:$at-blue;
				&-mainswatch {
					background:$at-blue;
				}
				&-tint25 {
					background:lighten($at-blue, 15%);
				}
				&-tint50 {
					background:lighten($at-blue, 25%);
				}
				&-tint75 {
					background:lighten($at-blue, 35%);
				}
			}
			.atsg-colorswatch-back {
				background:lighten($at-blue, 35%);
				ul {
					.mediumlabel {
							color:$at-blue;
						}
				}
			}

			.droplet-icon.hide:before {
				color:$at-blue;
			}

			.droplet-icon.hide {
				border-color: $at-blue;
			}
		}

		&.at-teal {
			background:$at-teal;
			.atsg-colorswatch-front {
				background:$at-teal;
				&-mainswatch {
					background:$at-teal;
				}
				&-tint25 {
					background:lighten($at-teal, 15%);
				}
				&-tint50 {
					background:lighten($at-teal, 25%);
				}
				&-tint75 {
					background:lighten($at-teal, 35%);
				}
			}
			.atsg-colorswatch-back {
				background:lighten($at-teal, 35%);
				ul {
					.mediumlabel {
							color:$at-teal;
						}
				}
			}
			.droplet-icon.hide:before {
				color:$at-teal;
			}

			.droplet-icon.hide {
				border-color: $at-teal;
			}
		}

		&.at-green {
			background:$at-green;
			.atsg-colorswatch-front {
				background:$at-green;
				&-mainswatch {
					background:$at-green;
				}
				&-tint25 {
					background:lighten($at-green, 15%);
				}
				&-tint50 {
					background:lighten($at-green, 25%);
				}
				&-tint75 {
					background:lighten($at-green, 35%);
				}
			}
			.atsg-colorswatch-back {
				background:lighten($at-green, 35%);
				ul {
					.mediumlabel {
							color:$at-green;
						}
				}
			}
			.droplet-icon.hide:before {
				color:$at-green;
			}

			.droplet-icon.hide {
				border-color: $at-green;
			}
		}

		&.at-yellow {
			background:$at-yellow;
			.atsg-colorswatch-front {
				background:$at-yellow;
				&-mainswatch {
					background:$at-yellow;
				}
				&-tint25 {
					background:lighten($at-yellow, 15%);
				}
				&-tint50 {
					background:lighten($at-yellow, 25%);
				}
				&-tint75 {
					background:lighten($at-yellow, 35%);
				}
			}
			.atsg-colorswatch-back {
				background:lighten($at-yellow, 35%);
				ul {
					.mediumlabel {
							color:$at-yellow;
						}
				}
			}

			.droplet-icon.hide:before {
				color:$at-yellow;
			}

			.droplet-icon.hide {
				border-color: $at-yellow;
			}
		}

		&.at-orange {
			background:$at-orange;
			.atsg-colorswatch-front {
				background:$at-orange;
				&-mainswatch {
					background:$at-orange;
				}
				&-tint25 {
					background:lighten($at-orange, 15%);
				}
				&-tint50 {
					background:lighten($at-orange, 25%);
				}
				&-tint75 {
					background:lighten($at-orange, 35%);
				}
			}
			.atsg-colorswatch-back {
				background:lighten($at-orange, 30%);
				ul {
					.mediumlabel {
							color:$at-orange;
						}
				}
			}
			.droplet-icon.hide:before {
				color:$at-orange;
			}

			.droplet-icon.hide {
				border-color: $at-orange;
			}
		}

		&.at-red {
			background:$at-red;
			.atsg-colorswatch-front {
				background:$at-red;
				&-mainswatch {
					background:$at-red;
				}
				&-tint25 {
					background:lighten($at-red, 15%);
				}
				&-tint50 {
					background:lighten($at-red, 25%);
				}
				&-tint75 {
					background:lighten($at-red, 35%);
				}
			}
			.atsg-colorswatch-back {
				background:lighten($at-red, 30%);
				ul {
					.mediumlabel {
							color:$at-red;
						}
				}
			}

			.droplet-icon.hide:before {
				color:$at-red;
			}

			.droplet-icon.hide {
				border-color: $at-red;
			}
		}

		&.at-slate {
			background:$at-slate;
			.atsg-colorswatch-front {
				background:$at-slate;
				&-mainswatch {
					background:$at-slate;
				}
				&-tint25 {
					background:lighten($at-slate, 15%);
				}
				&-tint50 {
					background:lighten($at-slate, 25%);
				}
				&-tint75 {
					background:lighten($at-slate, 35%);
				}
			}
			.atsg-colorswatch-back {
				background:lighten($at-slate, 65%);
				ul {
					.mediumlabel {
							color:$at-slate;
						}
				}
			}
			.droplet-icon.hide:before {
				color:$at-slate;
			}

			.droplet-icon.hide {
				border-color: $at-slate;
			}
		}



}


.atsg-colorswatch-swatch:hover {

	.droplet-icon {
				opacity:1;
				right:5%;

	}

		.atsg-colorswatch-front {

			&-tintwrapper {
				position:absolute;
				width:100%;
				height:38.2%;
				bottom:0;
			}

			&-mainswatch {
			width:100%;
			height:61.8%;
			
			}

			&-tint75, &-tint50, &-tint25 {
			transform: translateX(0);
			}
		}
}



