@font-face {
  font-family: Avenir;
  src: url(../fonts/AvenirLTStd-Roman.otf); }
@font-face {
  font-family: Avenir;
  src: url(../fonts/AvenirLTStd-Heavy.otf);
  font-weight: bold; }
@font-face {
  font-family: clearSans;
  src: url(../fonts/ClearSans-Regular.ttf); }
@font-face {
  font-family: clearSans;
  src: url(../fonts/ClearSans-Bold.ttf);
  font-weight: bold; }
@font-face {
  font-family: addThisIcons;
  src: url(../fonts/addthis.ttf); }
body {
  font-family: 'Avenir', sans-serif;
  color: #3E3F3F; }

p {
  font-family: 'clearSans', sans-serif; }

.icon-font {
  font-family: addThisIcons, 'Arial Unicode MS';
  padding: 0; }

.nomargin {
  margin: 0; }

.icon-display {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%; }
  .icon-display li {
    text-align: center;
    font-size: 30px;
    width: 11.11vw;
    height: 11.11vw;
    display: inline-block;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
    color: #0088F7; }
  .icon-display li.wide {
    width: 33.33vw; }
    .icon-display li.wide .button {
      font-size: 16px; }
  .icon-display li:hover {
    color: #fff; }
  .icon-display li:nth-child(8n+1):hover {
    background-color: #1E1F44;
    transform: rotate(5deg) scale(1.1); }
  .icon-display li:nth-child(8n+2):hover {
    background-color: #0088F7;
    transform: rotate(-1deg) scale(1.1); }
  .icon-display li:nth-child(8n+3):hover {
    background-color: #1EC6CE;
    transform: rotate(2deg) scale(1.1); }
  .icon-display li:nth-child(8n+4):hover {
    background-color: #FF6550;
    transform: rotate(4deg) scale(1.1); }
  .icon-display li:nth-child(8n+5):hover {
    background-color: #FF5050;
    transform: rotate(-5deg) scale(1.1); }
  .icon-display li:nth-child(8n+6):hover {
    background-color: #FEBE12;
    transform: rotate(-2deg) scale(1.1); }
  .icon-display li:nth-child(8n+7):hover {
    background-color: #1ECE8E;
    transform: rotate(3deg) scale(1.1); }
  .icon-display li:nth-child(8n+8):hover {
    background-color: #3E3F3F;
    transform: rotate(-3deg) scale(1.1); }
  .icon-display li:nth-child(22):hover {
    background-color: transparent; }

h1 {
  font-size: 42px; }

h2 {
  font-size: 34px; }

h3 {
  font-size: 26px; }

.word-break {
  word-wrap: break-word; }

.lighten {
  opacity: .5; }

.main-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 103;
  background: white;
  padding: 1em 1em;
  transition: 300ms padding; }
  .main-navigation a {
    color: #3E3F3F;
    text-decoration: none; }
  .main-navigation .main-navigation-wrapper {
    max-width: 960px;
    margin: 0 auto; }
  .main-navigation .nav-title {
    float: left; }
  .main-navigation ul {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    text-indent: none; }
    .main-navigation ul li {
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: .05em;
      font-size: 11px;
      text-indent: none; }
      .main-navigation ul li a {
        padding: .6em 0;
        color: #3E3F3F;
        border-bottom: 1px solid transparent;
        transition: 300ms;
        margin: 0 1em; }
      .main-navigation ul li a:hover {
        border-bottom: 1px solid #d7d8d8; }
      .main-navigation ul li a.nav-cta-button {
        border: 1px solid #d7d8d8;
        border-radius: 3px;
        padding: .8em .8em .6em .8em; }
      .main-navigation ul li a.nav-cta-button:hover {
        background: #f1f1f1; }

.main-navigation:hover {
  padding: 1.3em 1em; }

.atsg-fullwidth-section {
  overflow: hidden; }
  .atsg-fullwidth-section .textwrapper {
    max-width: 960px;
    margin: 12em auto;
    padding: 0 2em; }
  .atsg-fullwidth-section .intro-wrapper {
    max-width: 960px;
    margin: 50vh auto 0 auto;
    transform: translateY(-50%); }
    @media screen and (max-width: 480px) {
      .atsg-fullwidth-section .intro-wrapper {
        margin: 0 auto;
        transform: translateY(0); } }
    .atsg-fullwidth-section .intro-wrapper h1 {
      margin: 0;
      width: 60%; }

.tall-section {
  height: 100vh;
  padding: 0 2em; }

.dark-blue-section {
  background-color: #0088F7;
  color: white; }

.light-blue-section {
  background: #def0ff;
  color: #0088F7; }
  .light-blue-section p {
    max-width: 40em; }

.atsg-logo-block {
  display: flex; }
  .atsg-logo-block img {
    display: block;
    width: 50%; }
  .atsg-logo-block-light, .atsg-logo-block-dark {
    width: 100%;
    height: 33vw;
    display: flex;
    justify-content: center; }
    .atsg-logo-block-light svg, .atsg-logo-block-dark svg {
      width: 50%; }
      .atsg-logo-block-light svg .logo-name, .atsg-logo-block-light svg .addthis-icon, .atsg-logo-block-light svg .logo-name-clipping-mask, .atsg-logo-block-dark svg .logo-name, .atsg-logo-block-dark svg .addthis-icon, .atsg-logo-block-dark svg .logo-name-clipping-mask {
        transition: 500ms;
        transform-origin: 50% 50%; }
  .atsg-logo-block-light:hover, .atsg-logo-block-dark:hover {
    width: 100%; }
    .atsg-logo-block-light:hover svg .logo-name, .atsg-logo-block-dark:hover svg .logo-name {
      transform: translateX(-100%);
      opacity: 0; }
    .atsg-logo-block-light:hover svg .addthis-icon, .atsg-logo-block-dark:hover svg .addthis-icon {
      transform: scale(2) translateX(100%) rotate(-270deg); }
    .atsg-logo-block-light:hover svg .logo-name-clipping-mask, .atsg-logo-block-dark:hover svg .logo-name-clipping-mask {
      transform: translateX(40px); }
  .atsg-logo-block-dark {
    background: #3E3F3F; }

.atsg-colorswatch-array {
  position: relative;
  overflow: hidden; }
  .atsg-colorswatch-array .copymessage {
    background: white;
    opacity: 0;
    position: fixed;
    top: 20px;
    right: 0px;
    font-size: 13px;
    transition: 300ms;
    padding: 1em 1.3em;
    z-index: 103;
    border-radius: 3px; }
  .atsg-colorswatch-array .copymessage.copiedmessage {
    opacity: 1;
    right: 20px; }
  .atsg-colorswatch-array .atsg-colorswatch-download {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex; }
    .atsg-colorswatch-array .atsg-colorswatch-download-text, .atsg-colorswatch-array .atsg-colorswatch-download-dropdown select {
      padding: 1em;
      background: white; }
    .atsg-colorswatch-array .atsg-colorswatch-download-text {
      border-radius: 3px 0 0 3px; }
    .atsg-colorswatch-array .atsg-colorswatch-download-dropdown {
      border-radius: 0 3px 3px 0;
      overflow: hidden;
      border-left: 2px solid #d7d8d8;
      background: white; }
    .atsg-colorswatch-array .atsg-colorswatch-download-dropdown select {
      -moz-appearance: none;
      appearance: none;
      -webkit-appearance: none;
      width: auto;
      border: none;
      border-radius: 0;
      cursor: pointer;
      padding-right: 40px;
      transition: 300ms; }
    .atsg-colorswatch-array .atsg-colorswatch-download-dropdown select:hover {
      background: #f1f1f1;
      transition: 0; }
    .atsg-colorswatch-array .atsg-colorswatch-download-dropdown label {
      color: #bdbfbf;
      font-size: 10px;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%); }

.atsg-colorswatch-swatch {
  width: 25vw;
  height: 25vw;
  float: left;
  position: relative;
  font-size: 14px; }
  @media screen and (max-width: 640px) {
    .atsg-colorswatch-swatch {
      width: 50vw;
      height: 50vw; } }
  @media screen and (max-width: 400px) {
    .atsg-colorswatch-swatch {
      width: 100vw;
      height: 100vw; } }
  .atsg-colorswatch-swatch .atsg-colorswatch-colorlabel {
    opacity: 0;
    transition: 300ms;
    color: #fff;
    padding: 1em; }
  .atsg-colorswatch-swatch .droplet-icon {
    position: absolute;
    top: 62.5%;
    margin-top: -20%;
    right: 0%;
    opacity: 0;
    transition: 300ms;
    z-index: 101;
    font-size: 24px;
    cursor: pointer;
    transform: rotate(-45deg);
    width: 1em;
    height: 1em;
    border-radius: 100px 0px 100px 100px;
    border-style: solid;
    border-width: 1px;
    border-color: white; }
  .atsg-colorswatch-swatch .droplet-icon:before {
    content: "i";
    position: absolute;
    color: #fff;
    font-size: 13px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg); }
  .atsg-colorswatch-swatch .droplet-icon.hide {
    opacity: 1;
    right: 5%;
    transform: rotate(90deg);
    border-radius: 100px 100px 100px 100px;
    border-style: solid;
    border-width: 1px; }
  .atsg-colorswatch-swatch .droplet-icon.hide:before {
    content: "\00d7";
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    position: absolute;
    color: #000; }
  .atsg-colorswatch-swatch .atsg-colorswatch-front {
    transition: 300ms;
    position: relative;
    width: 100%;
    height: 100%; }
    .atsg-colorswatch-swatch .atsg-colorswatch-front.hide {
      opacity: 0; }
    .atsg-colorswatch-swatch .atsg-colorswatch-front-mainswatch, .atsg-colorswatch-swatch .atsg-colorswatch-front-tint75, .atsg-colorswatch-swatch .atsg-colorswatch-front-tint50, .atsg-colorswatch-swatch .atsg-colorswatch-front-tint25 {
      position: relative;
      transition: 300ms;
      cursor: pointer; }
      .atsg-colorswatch-swatch .atsg-colorswatch-front-mainswatch .atsg-colorswatch-colorlabel, .atsg-colorswatch-swatch .atsg-colorswatch-front-tint75 .atsg-colorswatch-colorlabel, .atsg-colorswatch-swatch .atsg-colorswatch-front-tint50 .atsg-colorswatch-colorlabel, .atsg-colorswatch-swatch .atsg-colorswatch-front-tint25 .atsg-colorswatch-colorlabel {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%; }
    .atsg-colorswatch-swatch .atsg-colorswatch-front-mainswatch:after, .atsg-colorswatch-swatch .atsg-colorswatch-front-tint75:after, .atsg-colorswatch-swatch .atsg-colorswatch-front-tint50:after, .atsg-colorswatch-swatch .atsg-colorswatch-front-tint25:after {
      background-image: url("../img/clipboard-01.svg");
      content: "";
      width: .8em;
      height: .8em;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      font-size: 48px;
      opacity: 0;
      margin-top: 5px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-30%);
      transition: 300ms; }
    .atsg-colorswatch-swatch .atsg-colorswatch-front-mainswatch.copiedmessage:after, .atsg-colorswatch-swatch .atsg-colorswatch-front-tint75.copiedmessage:after, .atsg-colorswatch-swatch .atsg-colorswatch-front-tint50.copiedmessage:after, .atsg-colorswatch-swatch .atsg-colorswatch-front-tint25.copiedmessage:after {
      opacity: 1;
      transform: translateX(-50%) translateY(-50%); }
    .atsg-colorswatch-swatch .atsg-colorswatch-front-tint75 .atsg-colorswatch-colorlabel, .atsg-colorswatch-swatch .atsg-colorswatch-front-tint50 .atsg-colorswatch-colorlabel, .atsg-colorswatch-swatch .atsg-colorswatch-front-tint25 .atsg-colorswatch-colorlabel {
      top: 0; }
    .atsg-colorswatch-swatch .atsg-colorswatch-front-mainswatch {
      width: 100%;
      height: 100%;
      transition: 300ms; }
    .atsg-colorswatch-swatch .atsg-colorswatch-front-tintwrapper {
      position: absolute;
      width: 100%;
      height: 0%;
      bottom: 0;
      transition: 300ms; }
    .atsg-colorswatch-swatch .atsg-colorswatch-front-tint75, .atsg-colorswatch-swatch .atsg-colorswatch-front-tint50, .atsg-colorswatch-swatch .atsg-colorswatch-front-tint25 {
      width: 33.33%;
      float: left;
      height: 100%;
      overflow: hidden;
      transform: translateY(100%);
      transition: 300ms; }
    .atsg-colorswatch-swatch .atsg-colorswatch-front-tint75 {
      transition-delay: 0ms; }
    .atsg-colorswatch-swatch .atsg-colorswatch-front-tint50 {
      transition-delay: 100ms; }
    .atsg-colorswatch-swatch .atsg-colorswatch-front-tint25 {
      transition-delay: 200ms; }
    .atsg-colorswatch-swatch .atsg-colorswatch-front-mainswatch:hover .atsg-colorswatch-colorlabel, .atsg-colorswatch-swatch .atsg-colorswatch-front-tint75:hover .atsg-colorswatch-colorlabel, .atsg-colorswatch-swatch .atsg-colorswatch-front-tint50:hover .atsg-colorswatch-colorlabel, .atsg-colorswatch-swatch .atsg-colorswatch-front-tint25:hover .atsg-colorswatch-colorlabel {
      opacity: 1; }
  .atsg-colorswatch-swatch .atsg-colorswatch-back {
    background: #abd9ff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    padding: 0 1em; }
    .atsg-colorswatch-swatch .atsg-colorswatch-back ul {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      margin: 0;
      padding: 0;
      list-style: none; }
      .atsg-colorswatch-swatch .atsg-colorswatch-back ul .mediumlabel {
        text-transform: uppercase;
        font-size: 10px;
        margin-top: 1em;
        display: block; }
  .atsg-colorswatch-swatch.at-indigo .atsg-colorswatch-front {
    background: #1E1F44; }
    .atsg-colorswatch-swatch.at-indigo .atsg-colorswatch-front-mainswatch {
      background: #1E1F44; }
    .atsg-colorswatch-swatch.at-indigo .atsg-colorswatch-front-tint25 {
      background: #353779; }
    .atsg-colorswatch-swatch.at-indigo .atsg-colorswatch-front-tint50 {
      background: #45479c; }
    .atsg-colorswatch-swatch.at-indigo .atsg-colorswatch-front-tint75 {
      background: #5d5fb8; }
  .atsg-colorswatch-swatch.at-indigo .atsg-colorswatch-back {
    background: #c7c8e6; }
    .atsg-colorswatch-swatch.at-indigo .atsg-colorswatch-back ul .mediumlabel {
      color: #1E1F44; }
  .atsg-colorswatch-swatch.at-indigo .droplet-icon.hide:before {
    color: #1E1F44; }
  .atsg-colorswatch-swatch.at-indigo .droplet-icon.hide {
    border-color: #1E1F44; }
  .atsg-colorswatch-swatch.at-blue .atsg-colorswatch-front {
    background: #0088F7; }
    .atsg-colorswatch-swatch.at-blue .atsg-colorswatch-front-mainswatch {
      background: #0088F7; }
    .atsg-colorswatch-swatch.at-blue .atsg-colorswatch-front-tint25 {
      background: #45abff; }
    .atsg-colorswatch-swatch.at-blue .atsg-colorswatch-front-tint50 {
      background: #78c2ff; }
    .atsg-colorswatch-swatch.at-blue .atsg-colorswatch-front-tint75 {
      background: #abd9ff; }
  .atsg-colorswatch-swatch.at-blue .atsg-colorswatch-back {
    background: #abd9ff; }
    .atsg-colorswatch-swatch.at-blue .atsg-colorswatch-back ul .mediumlabel {
      color: #0088F7; }
  .atsg-colorswatch-swatch.at-blue .droplet-icon.hide:before {
    color: #0088F7; }
  .atsg-colorswatch-swatch.at-blue .droplet-icon.hide {
    border-color: #0088F7; }
  .atsg-colorswatch-swatch.at-teal .atsg-colorswatch-front {
    background: #1EC6CE; }
    .atsg-colorswatch-swatch.at-teal .atsg-colorswatch-front-mainswatch {
      background: #1EC6CE; }
    .atsg-colorswatch-swatch.at-teal .atsg-colorswatch-front-tint25 {
      background: #53dfe6; }
    .atsg-colorswatch-swatch.at-teal .atsg-colorswatch-front-tint50 {
      background: #7fe7ec; }
    .atsg-colorswatch-swatch.at-teal .atsg-colorswatch-front-tint75 {
      background: #acf0f3; }
  .atsg-colorswatch-swatch.at-teal .atsg-colorswatch-back {
    background: #acf0f3; }
    .atsg-colorswatch-swatch.at-teal .atsg-colorswatch-back ul .mediumlabel {
      color: #1EC6CE; }
  .atsg-colorswatch-swatch.at-teal .droplet-icon.hide:before {
    color: #1EC6CE; }
  .atsg-colorswatch-swatch.at-teal .droplet-icon.hide {
    border-color: #1EC6CE; }
  .atsg-colorswatch-swatch.at-green .atsg-colorswatch-front {
    background: #1ECE8E; }
    .atsg-colorswatch-swatch.at-green .atsg-colorswatch-front-mainswatch {
      background: #1ECE8E; }
    .atsg-colorswatch-swatch.at-green .atsg-colorswatch-front-tint25 {
      background: #53e6b0; }
    .atsg-colorswatch-swatch.at-green .atsg-colorswatch-front-tint50 {
      background: #7fecc5; }
    .atsg-colorswatch-swatch.at-green .atsg-colorswatch-front-tint75 {
      background: #acf3d9; }
  .atsg-colorswatch-swatch.at-green .atsg-colorswatch-back {
    background: #acf3d9; }
    .atsg-colorswatch-swatch.at-green .atsg-colorswatch-back ul .mediumlabel {
      color: #1ECE8E; }
  .atsg-colorswatch-swatch.at-green .droplet-icon.hide:before {
    color: #1ECE8E; }
  .atsg-colorswatch-swatch.at-green .droplet-icon.hide {
    border-color: #1ECE8E; }
  .atsg-colorswatch-swatch.at-yellow .atsg-colorswatch-front {
    background: #FEBE12; }
    .atsg-colorswatch-swatch.at-yellow .atsg-colorswatch-front-mainswatch {
      background: #FEBE12; }
    .atsg-colorswatch-swatch.at-yellow .atsg-colorswatch-front-tint25 {
      background: #fed35e; }
    .atsg-colorswatch-swatch.at-yellow .atsg-colorswatch-front-tint50 {
      background: #ffe191; }
    .atsg-colorswatch-swatch.at-yellow .atsg-colorswatch-front-tint75 {
      background: #ffefc4; }
  .atsg-colorswatch-swatch.at-yellow .atsg-colorswatch-back {
    background: #ffefc4; }
    .atsg-colorswatch-swatch.at-yellow .atsg-colorswatch-back ul .mediumlabel {
      color: #FEBE12; }
  .atsg-colorswatch-swatch.at-yellow .droplet-icon.hide:before {
    color: #FEBE12; }
  .atsg-colorswatch-swatch.at-yellow .droplet-icon.hide {
    border-color: #FEBE12; }
  .atsg-colorswatch-swatch.at-orange .atsg-colorswatch-front {
    background: #FF6550; }
    .atsg-colorswatch-swatch.at-orange .atsg-colorswatch-front-mainswatch {
      background: #FF6550; }
    .atsg-colorswatch-swatch.at-orange .atsg-colorswatch-front-tint25 {
      background: #ffa89d; }
    .atsg-colorswatch-swatch.at-orange .atsg-colorswatch-front-tint50 {
      background: #ffd5d0; }
    .atsg-colorswatch-swatch.at-orange .atsg-colorswatch-front-tint75 {
      background: white; }
  .atsg-colorswatch-swatch.at-orange .atsg-colorswatch-back {
    background: #ffece9; }
    .atsg-colorswatch-swatch.at-orange .atsg-colorswatch-back ul .mediumlabel {
      color: #FF6550; }
  .atsg-colorswatch-swatch.at-orange .droplet-icon.hide:before {
    color: #FF6550; }
  .atsg-colorswatch-swatch.at-orange .droplet-icon.hide {
    border-color: #FF6550; }
  .atsg-colorswatch-swatch.at-red .atsg-colorswatch-front {
    background: #FF5050; }
    .atsg-colorswatch-swatch.at-red .atsg-colorswatch-front-mainswatch {
      background: #FF5050; }
    .atsg-colorswatch-swatch.at-red .atsg-colorswatch-front-tint25 {
      background: #ff9d9d; }
    .atsg-colorswatch-swatch.at-red .atsg-colorswatch-front-tint50 {
      background: #ffd0d0; }
    .atsg-colorswatch-swatch.at-red .atsg-colorswatch-front-tint75 {
      background: white; }
  .atsg-colorswatch-swatch.at-red .atsg-colorswatch-back {
    background: #ffe9e9; }
    .atsg-colorswatch-swatch.at-red .atsg-colorswatch-back ul .mediumlabel {
      color: #FF5050; }
  .atsg-colorswatch-swatch.at-red .droplet-icon.hide:before {
    color: #FF5050; }
  .atsg-colorswatch-swatch.at-red .droplet-icon.hide {
    border-color: #FF5050; }
  .atsg-colorswatch-swatch.at-slate .atsg-colorswatch-front {
    background: #3E3F3F; }
    .atsg-colorswatch-swatch.at-slate .atsg-colorswatch-front-mainswatch {
      background: #3E3F3F; }
    .atsg-colorswatch-swatch.at-slate .atsg-colorswatch-front-tint25 {
      background: #646666; }
    .atsg-colorswatch-swatch.at-slate .atsg-colorswatch-front-tint50 {
      background: #7d7f7f; }
    .atsg-colorswatch-swatch.at-slate .atsg-colorswatch-front-tint75 {
      background: #979999; }
  .atsg-colorswatch-swatch.at-slate .atsg-colorswatch-back {
    background: #e4e4e4; }
    .atsg-colorswatch-swatch.at-slate .atsg-colorswatch-back ul .mediumlabel {
      color: #3E3F3F; }
  .atsg-colorswatch-swatch.at-slate .droplet-icon.hide:before {
    color: #3E3F3F; }
  .atsg-colorswatch-swatch.at-slate .droplet-icon.hide {
    border-color: #3E3F3F; }

.atsg-colorswatch-swatch:hover .droplet-icon {
  opacity: 1;
  right: 5%; }
.atsg-colorswatch-swatch:hover .atsg-colorswatch-front-tintwrapper {
  position: absolute;
  width: 100%;
  height: 38.2%;
  bottom: 0; }
.atsg-colorswatch-swatch:hover .atsg-colorswatch-front-mainswatch {
  width: 100%;
  height: 61.8%; }
.atsg-colorswatch-swatch:hover .atsg-colorswatch-front-tint75, .atsg-colorswatch-swatch:hover .atsg-colorswatch-front-tint50, .atsg-colorswatch-swatch:hover .atsg-colorswatch-front-tint25 {
  transform: translateX(0); }

.main-illustration {
  width: 40%;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%); }
  @media screen and (max-width: 480px) {
    .main-illustration {
      width: 100%;
      position: static;
      transform: translateY(0%);
      top: 0;
      margin: 0 auto; } }

.main-illustration circle, .main-illustration line {
  stroke-dasharray: 800;
  animation-name: draw;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: both;
  stroke-dashoffset: 800; }

@keyframes draw {
  0% {
    stroke-dashoffset: 800;
    stroke-dasharray: 800; }
  50% {
    stroke-dashoffset: 1600;
    stroke-dasharray: 800; }
  100% {
    stroke-dashoffset: 2400;
    stroke-dasharray: 800; } }
.main-illustration path {
  animation-name: fillup;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: both;
  stroke-dashoffset: 800; }

@keyframes fillup {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  90% {
    opacity: 1; }
  92% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: 42% 42%; }
  94% {
    opacity: 1;
    transform: rotate(-2deg);
    transform-origin: 42% 42%; }
  96% {
    opacity: 1;
    transform: rotate(2deg);
    transform-origin: 42% 42%; }
  98% {
    opacity: 1;
    transform: rotate(-2deg);
    transform-origin: 42% 42%; }
  100% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: 42% 42%; } }
.video-section {
  position: relative; }

.video-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(30, 31, 68, 0.9); }

.video-screen-content {
  max-width: 960px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  text-align: center; }

a.button {
  background-color: #0088F7;
  color: #fff;
  text-decoration: none;
  padding: 1em 1.6em;
  border-radius: 100px;
  display: inline-block;
  margin: 1em 0;
  transition: 300ms; }
  a.button:hover {
    background-color: #2ba0ff; }

.single-spacer {
  width: 100%;
  height: 2em; }

.single-spacer {
  width: 100%;
  height: 4em; }

.avenir-display {
  font-size: 55px;
  line-height: 55px;
  color: #0088F7;
  display: block;
  max-width: 640px;
  margin-bottom: 1em; }
  .avenir-display.smaller {
    font-size: 34px;
    line-height: 42px; }

.source-display {
  columns: 2; }
